body {
	background-image: url("https://img.freepik.com/premium-photo/2022-calendar-page-blue-background-business-planning-appointment-meeting-concept_293060-5815.jpg?w=1060");
	background-repeat: no-repeat;
	background-size: cover;
}
.headings {
	text-align: center;
}
.container {
	display: flex;
	text-align: center;
	align-content: center;
	justify-content: center;
	gap: 20px;
}
.card {
	width: 10vw;
	height: 9vh;
	text-align: center;
	font-size: 30px;
	border: 1px solid black;
	transition: height 0.5s ease-in-out;
	transition: width 0.5s ease-in-out;
	background: #f2f2f2;
	overflow: hidden;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 0 0 20px 8px #d0d0d0;
	background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-click {
	font-size: 60px;
	visibility: visible;
	width: 30vw;
	height: 20vh;
}
