body {
	background-color: black;
}
.card {
	width: 10vw;
	height: 9vh;
	text-align: center;
	font-size: 30px;
	border: 1px solid black;
	transition: width 0.5s ease-in-out;
	overflow: hidden;
	background-color: whitesmoke;
}

.card-click {
	font-size: 60px;
	visibility: visible;
	width: 30vw;
	height: 10vh;
}
